<ion-view view-title="Cours">
	<ion-content>
		<div class="item item-divider">
        	<strong class="capitalize">{{selectedLanguage}}</strong> - Leçon du jour
      	</div>
		
		<div class="card" style="margin-top:30px">
	  		<div class="item item-divider cardLecon">
		   		<h2 style="text-align:center" class="ion-wand"> {{leCours.titre}}</h2>
	  		</div>
	  		<div class="item item-text-wrap contentLecon">
	    		<p>{{leCours.contenu}}</p>
	  		</div>
	  		<div class="item item-divider cardLecon">
				<h2 class="ion-quote"></h2>
	  		</div>
		</div>
	</ion-content>	
</ion-view>