<ion-view view-title="Contact">
  <ion-content>

      <div class="item item-divider titleContent">
        <strong>Vous pouvez joindre votre responsable</strong>
      </div>

      <ion-list>
        <ion-item ng-repeat="item in items">
          <div class="list">
            <div class="item item-divider">
              Responsable <span class="capitalize"><strong>{{item.key}}</strong></span>
            </div>
            <div class="item item-text-wrap">
              <p>
                Numéro : {{item.value}} 
                <div class="tel"><a href="tel:{{item.value}}" class="button button-balanced ion-ios-telephone"></a></div>
              </p>
            </div>
            <div class="item item-divider">
            </div>
          </div>
        </ion-item>
      </ion-list>

  </ion-content>
</ion-view>
