<ion-view view-title="Cours" hide-back-button="true">
  <ion-content class="padding">
    <h3 class="title"><span class="ion-earth"></span> Apprendre une langue</h3>
    <hr>
    
    <div class="home_links">
      <a href="#/tab/step1/anglais" class="button button-large button-block button-positive icon-right ion-chevron-right">Anglais</a>   
      <!-- href="#/tab/step1/espagnol" -->
      <a class="button button-large button-block button-energized icon-right ion-chevron-right">Espagnol</a>   

      <a class="button button-large button-block button-assertive icon-right ion-chevron-right">Allemand</a>

      <a class="button button-large button-block button-balanced icon-right ion-chevron-right">Portugais</a>      
    </div>
  </ion-content>
</ion-view>
