<ion-view view-title="Cours">
  <ion-content class="padding">
    <h3 class="title"><span class="ion-earth"></span> Apprendre une langue</h3>
    <hr>
    <div class="home_links">
      <a href="#/tab/step1/anglais" id="aGb" class="button button-large button-block button-positive icon-right ion-chevron-right">Anglais</a>   

      <a href="#/tab/step1/espagnol" id="aEs" class="button button-large button-block button-assertive button-energized icon-right ion-chevron-right">Espagnol</a>   

      <a href="#/tab/step1/allemand" id="aDe" class="button button-large button-block button-assertive icon-right ion-chevron-right">Allemand</a>

      <a href="#/tab/step1/portugais" id="aPt" class="button button-large button-block button-balanced icon-right ion-chevron-right">Portugais</a>      
    </div>
  </ion-content>
</ion-view>
