<ion-view view-title="Cours">
  <ion-content class="padding">
    <h2>Apprendre une langue</h2>
    <hr>
    <div class="home_links">
      <a id="aGb" class="button button-large button-block button-positive icon-right ion-chevron-right" style="background-color:">Anglais</a>   

      <a id="aEs" class="button button-large button-block button-assertive button-energized icon-right ion-chevron-right" style="background-color:">Espagnol</a>   

      <a id="aDe" class="button button-large button-block button-assertive icon-right ion-chevron-right" style="background-color:">Allemand</a>

      <a id="aPt" class="button button-large button-block button-balanced icon-right ion-chevron-right" style="background-color:">Portugais</a>      
    </div>
  </ion-content>
</ion-view>
