/* Empty. Add your own CSS if you like */

.containerDates {
	background-color: #E9EBEE;
	margin-top: 15px;
	text-align: center;
	letter-spacing:0.10em;
}

.capitalize {
   text-transform: capitalize;
}

.tel {
	position: absolute;
	right: 3px;
	top: 3.5px;
}

.tel a {
	font-size: 30px;
}