/* Page dates */
.containerDates {
	background-color: #E9EBEE;
	margin-top: 15px;
	text-align: center;
	letter-spacing:0.10em;
}

.capitalize {
   text-transform: capitalize;
}

/* Page contact */
.tel {
	position: absolute;
	right: 3px;
	top: 3.5px;
}

.tel a {
	font-size: 30px;
}

/* Page cours */

.home_links a{
	color: white;
	text-decoration: none;
	display: block;
	margin-top: 30px !important;
}

.home_links a:hover {
	color:white;
}

#aGb {
}
	
#aDe {

}

#aEs {

}

#aPt {
   
}

.cardLecon {
	background-color: #D9EDF7;
}

.contentLecon {
	background-color: #EFF1F5;
}

.ion-quote, .ion-volume-medium {
	transform: scaleX(-1);
	font-size: 20px;
}

#link-container {
	text-align: center;
}